<!DOCTYPE html>
<html>
<head>
  <title>Tattle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h2>Tattle</h2>
	<h5>
		Welcome! To get tattling just sign in with a username.<p/>
		<i>Haven't registered yet?</i>  Don't worry! Just type a username and you will be ready to begin.
		After that you can exchange messages in your own client and people will eventually hear them.  Have fun and be nice!<p/>
	</h5>
	<%= form_tag("user/login", method: "get") do %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username) %>
    <%= submit_tag("Get Started!") %>
  <% end %> 
  <p/>
  <i>Please no duplicates, here's a list of registered usernames:<br/>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.username %></li>
    <% end %>
  </ul>
</body>
</html>